.card{
    width: 100%;
    margin-bottom: 0.8rem;
    box-shadow: 0 2px 10px -2px var(--light_bg4);
    border-radius: 0.5rem;
}
.card-img__container{
    width: 100%;
    padding: 0.5rem;
}
.card-img__container img {
    display: block;
    width: 100%;
}
.card-details{
    padding: 0.5rem;
}
.card-details h2{
    font-size: 1.2rem;
}
.card-details h2 > a{
    color: black;
    text-decoration: none;
}
.dark_theme_link{
    color:var(--light_color2) !important;
}