.likedvideos__container{
    min-height:100vh;
}
.liked-videos{
    width: 100%;
    height: 100%;
    padding-bottom : 10vh;
}

@media only screen and (min-width: 768px) {
    .likedvideos__container{
        padding-left: 4.5rem;
        padding-right: 0.5rem;
        overflow-x: hidden;
    }

    .liked-videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .liked-videos{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 1200px) {
    .liked-videos{
        grid-template-columns: repeat(4, 1fr);
    }
}