.searchBox__container{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    background: var(--light_bg1);
    padding: 0.5rem;
    transition: 0.4s;
    box-shadow: 0 2px 10px -2px var(--light_bg4);
}
.dark_SearchBox{
    background: var(--dark_bg3);
}
.hidden{
    transform: translateY(-100%);
}
.searchBox {
    padding: 0.5rem;
    border: 2px solid var(--light_bg2);
    border-radius: 0.5rem;
    width: 40%;
    letter-spacing: 0.1rem;
    color: var(--light_bg4);
    transition: 0.4s;
    margin-left: auto;
}
.searchBox:focus{
    box-shadow: 0 0 1px 2px var(--light_bg2);
    outline: 3px solid transparent;
}