*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar__container{
    background: #6cd0f8;
    width: 100vw;
    position: relative;
}
.navbar__header{
    width: 100%;
    height: 7vh;
    display: flex;
    background: inherit;
    justify-content: space-between;
    position: fixed;
    top:0;
    padding: 1rem;
    z-index: 3; /*Z-index works only on positioned element*/
}
.btn{
    padding: 0.2rem;
}
.navbar__list-items{
    background: #b5f1f1;
    width: 100%;
    position: fixed;
    top:0;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: 2;
}
.show{
    top:3.5rem;
    transform: translateY(0);
}
.list__item{
    list-style: none;
    padding: 0.5rem 0;
}
.list__item > a{
    text-decoration: none;
}