*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar__container{
    width: 100%;
    position: fixed;
    bottom:0;
}
.btn{
    padding: 0.2rem;
}
.navbar__list-items{
    background: var(--light_bg1);
    padding: 0.5rem;
    padding-bottom: 0;
    z-index: 2;
    transition: 0.2s;
}
.dark_navbar{
    background: var(--dark_bg3);
}
.list__container{
    display: flex;
    justify-content: space-between;
}
.list__item{
    list-style: none;
    color: var(--light_bg4);
    font-weight: 600;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dark_list__item{
    color: #7a9fba;
}
.list__item > a{
    text-decoration: none;
}