*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar__container{
    background: #6cd0f8;
    width: 100vw;
    position: fixed;
    bottom:0;
}
.navbar__header{
    width: 100%;
    height: 7vh;
    display: flex;
    background: inherit;
    justify-content: space-between;
    padding: 1rem;
    z-index: 3; /*Z-index works only on positioned element*/
}
.btn{
    padding: 0.2rem;
}
.navbar__list-items{
    background: #b5f1f1;
    padding: 0.5rem;
    padding-bottom: 0;
    width: 100%;
    z-index: 2;
}
.list__container{
    display: flex;
    justify-content: space-between;
}
.list__item{
    list-style: none;
    color: #0d354d;
    font-weight: 600;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list__item > a{
    text-decoration: none;
}