.watchlater-video__container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    padding-left: 0.5rem;
    box-shadow: 0 2px 5px -1px #51706d;
}
.watchlater-thumbnail__container{
    width: max-content;
    height: max-content;
}
.watchlater-thumbnail__container img{
    display: block;
    width: 10rem;
    height: 100%;
    margin-right: 1rem;
}
.watchlater-description__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.watchlater-description__container p{
    font-size: 1.2rem;
}