@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark_bg1: #17202a;
  --dark_bg2: #1c2733;
  --dark_bg3: #25303b;
  --light_bg1: #A78BFA;
  --light_bg2: #8B5CF6;
  --light_bg3: #7C3AED;
  --light_bg4 : #292831;
  --light_color1: #ffffff;
  --light_color2: #8b98a5;
}
body{
  min-height:100vh;
}
.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Balsamiq Sans', cursive;
}
.App_dark{
  background: var(--dark_bg1);
  color: var(--light_color2);
}
.heading{
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  color: var(--light_bg3);
}